body {
  margin: 10% 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Todo  */
.todo {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  gap: 10px;
}

/* Todo generator */
.todo-generator {
  display: flex;
  justifycontent: space-between;
}

/* Todo serach filter */
.todo-search-filter {
  display: flex;
  justifycontent: space-between;
  margin-bottom: 10px;
}

/* Todo counter */
.todo-counter {
  display: flex;
  justifycontent: space-between;
}

/* mobile screen size */
@media screen and (max-width: 500px) {
  .todo-search-filter {
    display: none;
  }

  .todo-generator {
    display: none;
  }

  .todo-counter {
    text-align: center;
  }
}

/* table and web screen size */
@media screen and (min-width: 501px) {
  .todo-search-filter-mobile {
    display: none;
  }

  .todo-generator-mobile {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .todo {
    grid-template-columns: repeat(auto-fill, minmax(auto, 250px));
  }
}
